@font-face {
  font-family: "OpenSans";
  src: local("OpenSans Light"), local("OpenSans-Light"),
    url("OpenSans-Light.woff2") format("woff2"),
    url("OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans Bold"), local("OpenSans-Bold"),
    url("OpenSans-Bold.woff2") format("woff2"),
    url("OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"),
    url("OpenSans-SemiBold.woff2") format("woff2"),
    url("OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans Regular"), local("OpenSans-Regular"),
    url("OpenSans-Regular.woff2") format("woff2"),
    url("OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans ExtraBold"), local("OpenSans-ExtraBold"),
    url("OpenSans-ExtraBold.woff2") format("woff2"),
    url("OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans Medium"), local("OpenSans-Medium"),
    url("OpenSans-Medium.woff2") format("woff2"),
    url("OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
